:root {
  --color-drum-pad: rgb(88, 160, 228);
  --main-bg-color: #474647;
  --main-bg-color-darker: #313031;
  --switch-off: #181718;
  --switch-on: #313031;
}

#root{
  height: 100vh;
  place-items: center;
  display: grid;
  background-color: var(--main-bg-color);
}

#drum-machine{
  margin: 10px;
}

#display {
  display: grid;
  width: 60%;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: inset 1px 4px 12px 4px rgba(0, 0, 0, 0.63);
  background-color: var(--main-bg-color-darker); 
  color: var(--color-drum-pad);
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
}

.btns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.soundBank, .power, .slider{
  height: 40px;
  border-radius: 20px;
  border-style: none;
}

.pad {
  align-self: baseline;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  row-gap: 10px;
  column-gap: 10px;
}

.drum-pad {
  background-color: var(--color-drum-pad);
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px rgba(70, 112, 228, 0.61);
  color: #fff;
  display: grid;
  font-size: 2em;
  height: auto;
  padding: 0.7em;
  place-items: center;
  position: relative;
  width: auto;
  cursor: pointer;
}
